* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3d46c0;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 42px;
    padding: 5px;
    font-family: 'Fasthand', cursive;
    text-shadow: 4px 4px 4px rgb(41, 36, 36);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    text-align: center;
    flex: 1;
    font-size: 16px;
    color: #000000;
}

img {
    width: 100%;   
    height: 100%;  
    object-fit: contain; 
}

.center-aligned-title {
    flex: 1;
    text-align: center;
    float: center;
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    color: #000000;
}

summary img {
    width: 8%;   
    height: 8%; 
    object-position: center; 
    object-fit: scale-down; 
    flex: center;
}

summary p {
    text-align: center;
    flex: 1;
    font-size: 16px;
    color: #000000;
}

main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

/* .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.left-aligned-title {
    flex: 0.25;
    text-align: left;
    float: left;
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    color: #000000;
}

/* .box {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: left;
} */

/* section h2 {
    flex: 1;
    text-align: left;
    float: left;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
} */

/* section{
    margin-bottom: 32px;
    color: #ffffff;
}

section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
